src/index.pug
extends pug/base

append vars
    - html.classList.push('page-index')
    - meta.viewport = 'width=device-width, initial-scale=1'
    - link.icon = 'favicon.ico'
    - title = 'Евгений'
    - skills = [['HTML', 1], ['SASS', 1], ['VANILLAJS', 1], ['GIT', 1], ['CSS3', 1], ['LESS'], ['ANGULAR'], ['FOUNDATION'], ['БЭМ'], ['GULP', 1], ['JQUERY', 1], ['BOOTSTRAP', 1], ['VUEJS', 1], ['ES6', 1], ['NPM', 1], ['NODEJS', 1]]
    - skillValue = 100 / skills.length
    - profileFields = ['ЕВГЕНИЙ ЕРМОЛАЕВ', '10.01.1990', 'УЛЬЯНОВСК', 'STRIZH32@GMAIL.COM']

block content
    div(class="wrapper", id="wrapper", style="display: none;")
        div(class="profile")
            div(class="profile__photo")
                div(class="profile__photo-mask")
                    img(src="images/photo-2.jpg", alt="photo")
            ul(class="profile__fields")
                each field in profileFields
                    li(class="profile__field")= field

        div(class="skills")
            h2(class="skills__title") Навыки
            ul(class="skills__checkboxes")
                each skill in skills
                    li(class="skill__checkbox")
                        input(
                        type="checkbox",
                        id= "skill-" + skill[0].toLowerCase(),
                        value= skillValue,
                        checked= skill[1],
                        @change="selectSkill"
                        )
                        label(for= "skill-" + skill[0].toLowerCase())= skill[0]


        div(class="skill-meter")
            div(class="skill-meter__left")
                div(class="skill-meter__arrow" v-bind:style="skillMeterStyle")
            div(class="skill-meter__right")
                .skill-meter__js-level Мой уровень владения<br>JavaScript
                .skill-meter__animated-number {{ animatedNumber }}


        a(href="https://bitbucket.org/strizh32/strizh32.bitbucket.io/src", target="_blank") Исходный код

build/index.html
<!DOCTYPE html>
<html class="page-index" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Евгений
    </title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="css/main.css?v=1504509811600">
  </head>
  <body>
    <div class="wrapper" id="wrapper" style="display: none;">
      <div class="profile">
        <div class="profile__photo">
          <div class="profile__photo-mask"><img src="images/photo-2.jpg" alt="photo"></div>
        </div>
        <ul class="profile__fields">
          <li class="profile__field">ЕВГЕНИЙ ЕРМОЛАЕВ</li>
          <li class="profile__field">10.01.1990</li>
          <li class="profile__field">УЛЬЯНОВСК</li>
          <li class="profile__field">STRIZH32@GMAIL.COM</li>
        </ul>
      </div>
      <div class="skills">
        <h2 class="skills__title">Навыки</h2>
        <ul class="skills__checkboxes">
          <li class="skill__checkbox">
            <input type="checkbox" id="skill-html" value="6.25" checked="1" @change="selectSkill">
            <label for="skill-html">HTML</label>
          </li>
          <li class="skill__checkbox">
            <input type="checkbox" id="skill-sass" value="6.25" checked="1" @change="selectSkill">
            <label for="skill-sass">SASS</label>
          </li>
          <li class="skill__checkbox">
            <input type="checkbox" id="skill-vanillajs" value="6.25" checked="1" @change="selectSkill">
            <label for="skill-vanillajs">VANILLAJS</label>
          </li>
          <li class="skill__checkbox">
            <input type="checkbox" id="skill-git" value="6.25" checked="1" @change="selectSkill">
            <label for="skill-git">GIT</label>
          </li>
          <li class="skill__checkbox">
            <input type="checkbox" id="skill-css3" value="6.25" checked="1" @change="selectSkill">
            <label for="skill-css3">CSS3</label>
          </li>
          <li class="skill__checkbox">
            <input type="checkbox" id="skill-less" value="6.25" @change="selectSkill">
            <label for="skill-less">LESS</label>
          </li>
          <li class="skill__checkbox">
            <input type="checkbox" id="skill-angular" value="6.25" @change="selectSkill">
            <label for="skill-angular">ANGULAR</label>
          </li>
          <li class="skill__checkbox">
            <input type="checkbox" id="skill-foundation" value="6.25" @change="selectSkill">
            <label for="skill-foundation">FOUNDATION</label>
          </li>
          <li class="skill__checkbox">
            <input type="checkbox" id="skill-бэм" value="6.25" @change="selectSkill">
            <label for="skill-бэм">БЭМ</label>
          </li>
          <li class="skill__checkbox">
            <input type="checkbox" id="skill-gulp" value="6.25" checked="1" @change="selectSkill">
            <label for="skill-gulp">GULP</label>
          </li>
          <li class="skill__checkbox">
            <input type="checkbox" id="skill-jquery" value="6.25" checked="1" @change="selectSkill">
            <label for="skill-jquery">JQUERY</label>
          </li>
          <li class="skill__checkbox">
            <input type="checkbox" id="skill-bootstrap" value="6.25" checked="1" @change="selectSkill">
            <label for="skill-bootstrap">BOOTSTRAP</label>
          </li>
          <li class="skill__checkbox">
            <input type="checkbox" id="skill-vuejs" value="6.25" checked="1" @change="selectSkill">
            <label for="skill-vuejs">VUEJS</label>
          </li>
          <li class="skill__checkbox">
            <input type="checkbox" id="skill-es6" value="6.25" checked="1" @change="selectSkill">
            <label for="skill-es6">ES6</label>
          </li>
          <li class="skill__checkbox">
            <input type="checkbox" id="skill-npm" value="6.25" checked="1" @change="selectSkill">
            <label for="skill-npm">NPM</label>
          </li>
          <li class="skill__checkbox">
            <input type="checkbox" id="skill-nodejs" value="6.25" checked="1" @change="selectSkill">
            <label for="skill-nodejs">NODEJS</label>
          </li>
        </ul>
      </div>
      <div class="skill-meter">
        <div class="skill-meter__left">
          <div class="skill-meter__arrow" v-bind:style="skillMeterStyle"></div>
        </div>
        <div class="skill-meter__right">
          <div class="skill-meter__js-level">Мой уровень владения<br>JavaScript</div>
          <div class="skill-meter__animated-number">{{ animatedNumber }}</div>
        </div>
      </div><a href="https://bitbucket.org/strizh32/strizh32.bitbucket.io/src" target="_blank">Исходный код</a>
    </div>
    <script src="js/vendor.js?v=1504509811601"></script>
    <script src="js/main.js?v=1504509811601"></script>
  </body>
</html>
